@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body.student {
    background: #00bcd4;
    padding-bottom: 20px;
}

.student header {
    background: #eee;
    padding: 13px 15px;
    margin-bottom: 15px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

.mobile-container {
    width: 90%;
    margin: 20px auto;
    max-width: 500px;
    background: #fff;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px #00838F;
    overflow: hidden;
}

.panel {
    display: none;
    padding: 0 15px;
}

header span#username {
    float: right;
    color: #555;
}

header span#username:before {
    content: 'Hi ';
}

.word {
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}

form input[type=text] {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background: #f5f5f5;
    border: 0;
    outline: none;
}

form input[type=submit] {
    background: #f44336;
    border: 0;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    font-size: 15px;
    padding: 0 10px;
}

form {
    position: relative;
}

.info {
    background: #eee;
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.info strong {
    text-transform: uppercase;
}

h2 .small {
    display: block;
    font-size: 13px;
}

body.student.correct {
    background: #7cb342;
}

.correct .mobile-container {
    box-shadow: 5px 5px #AED581;
}

img {
    width: 100%;
}

.teacher header {
    width: 100%;
    background: #F44336;
    color: #fff;
    padding: 20px;
}

.teacher header h1 {
    display: inline-block;
    width: 50%;
}

.teacher header span {
    float: right;
    text-align: right;
    line-height: 40px;
}

.container {
    max-width: 900px;
    min-height: 500px;
    width: 90%;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background: #eee;
    cursor: pointer;
    border-left: 3px solid transparent;
    transition: all .3s;
}

ul li:nth-child(odd) {
    background: #ddd;
}

ul li:hover {
    background: #e7e7e7;
    border-left: 3px solid #f44336;
    color: #f44336;
}

body.teacher {
    background: #fefefe;
}

.button {
    background: #f44336;
    color: #fff;
    display: inline-block;
    padding: 10px;
    float: right;
    font-size: 13px;
    cursor: pointer;
}

#game-types li {
    display: inline-block;
    width: 30%;
    margin: 1%;
    vertical-align: top;
    min-height: 200px;
    font-size: 15px;
}

#game-types li h3 {
    margin: 5px 0;
}

h2 .highlight {
    display: inline-block;
    background: #f44336;
    padding: 5px;
    color: #fff;
    margin-left: 5px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

span#no-matches {
    color: #999;
    display: block;
    font-size: 30px;
    text-align: center;
    width: 400px;
    max-width: 100%;
    margin: 15px auto;
}


#questions li {
    padding: 0;
    position: relative;
}

#questions li .question {
    padding: 10px;
    display: inline-block;
    width: 15%;
    text-align: right;
    vertical-align: top;
    min-height: 60px;
    line-height: 40px;
}

#questions li .answer {
    padding: 10px;
    display: inline-block;
    width: 80%;
    border-left: 1px solid #ccc;
    min-height: 60px;
}

#matches li {
    padding: 0;
    position: relative;
}

#matches li .question {
    padding: 10px;
    display: inline-block;
    width: 15%;
    text-align: right;
    vertical-align: top;
    min-height: 60px;
    line-height: 40px;
}

#matches li .answer {
    padding: 10px;
    display: inline-block;
    width: 80%;
    border-left: 1px solid #ccc;
    min-height: 60px;
}

#matches li .people {
    display: block;
    margin: 10px 0;
}

